<form method="POST" action="/products/{{#if dataValues.id}}{{dataValues.id}}{{/if}}">

    {{#if id}}
    <input type="hidden" name="id" value="{{dataValues.id}}" />
    {{/if}}
    <div>
        <label for="name">Name:</label> <input name="name" type="text" value="{{dataValues.name}}" />
    </div>
    <div>
        <input type="submit" value="Submit" />
    </div>
</form>