<form enctype="multipart/form-data" method="POST"
    action="/images/{{#if image.dataValues.id}}{{image.dataValues.id}}{{/if}}">

    {{#if image.dataValues.id}}
    <input type="hidden" name="id" value="{{image.dataValues.id}}" />
    {{/if}}
    <div>
        <label>Variant:</label>
        <select name="variantId">
            {{#each variants}}
            <option value="{{this.dataValues.id}}">{{this.dataValues.name}}</option>
            {{/each}}
        </select>
    </div>
    <div>
        <label for="image">Upload Image:</label>
        <br />
        <input type="file" name="image" id="image" />
    </div>
    <div>
        <input type="submit" value="Submit" />
    </div>
</form>