<header class="nav-container">
    <div class="nav-content">
        <h1 class="store-title">Team Liquid Store</h1>
        <nav class="nav">
            <ul class="nav-list">
                <li class="nav-item">
                    <a href="/store/products" class="nav-link">Store</a>
                </li>
                <li class="nav-item">
                    <a href="/products" class="nav-link">Products</a>
                </li>
                <li class="nav-item">
                    <a href="/variants" class="nav-link">Variants</a>
                </li>
                <li class="nav-item">
                    <a href="/images" class="nav-link">Images</a>
                </li>
            </ul>
        </nav>
    </div>
</header>