{{> title}}

{{> nav}}

<ul>
    <li>
        <label>Id: </label> {{product.dataValues.id}}
        <label>Name: </label> {{product.dataValues.name}}
    </li>
</ul>
<p>
    <a href="/products/{{product.dataValues.id}}/edit">Edit</a>
    <a href="/products/{{product.dataValues.id}}/delete">Delete</a>
</p>

{{> footer}}